{
  "plugins": [
    "syntax-flow",
    "transform-decorators-legacy",
    "transform-class-properties",
    ["module-resolver", {
      "alias": {
        "axon": "./src",
        "configuration": "./config"
      }
    }]
  ],
  "presets": [
    [
      "env",
      {
        "loose": true,
        "useBuiltIns": true
      }
    ],
    "flow"
  ],
  "sourceMaps": true,
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
