{
  "plugins": [
    "syntax-flow",
    "transform-decorators-legacy",
  ],
  "presets": [
    [
      "env",
      {
        "loose": true,
        "useBuiltIns": true
      }
    ],
    "stage-0",
    "flow",
  ],
  "sourceMaps": true,
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
